VITE_FIREBASE_API_KEY=AIzaSyDEXH4pVqWdtyReI7EIBYqR_qmGoBmLNL8
VITE_FIREBASE_AUTH_DOMAIN=smartbin-ee2c8.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=smartbin-ee2c8
VITE_FIREBASE_STORAGE_BUCKET=smartbin-ee2c8.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=925837792285
VITE_FIREBASE_APP_ID=1:925837792285:web:97039e46fed66242f6e2f4
VITE_FIREBASE_MEASUREMENT_ID=G-SBSKPEVMZB
VITE_FIREBASE_DATABASE_URL=https://smartbin-ee2c8-default-rtdb.asia-southeast1.firebasedatabase.app
